# This file should only be modified by gen_calt.ml and only serves as a
# temporary file to add the calt feature to the fonts during their generation.
# It's not a real source file that can be edited directly.
calt.fea

dist/
